@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

h2 {
  color: #333;
}

ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

li {
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-icon {
  margin-right: 10px;
}

.email-icon {
  color: #007BFF;
}

.phone-icon {
  color: #28A745;
}